# Assignment-13 

## Unsupervised learning

### Name- NITESH KUMAR Batch-4

# Q1. What is the difference between supervised and unsupervised machine learning

### Answer:-

Supervised and unsupervised machine learning are two fundamental approaches to solving different types of problems in the field of artificial intelligence and machine learning. Here's an overview of the key differences between the two:

## Learning Objective:

#### Supervised Learning:

In supervised learning, the algorithm is provided with a labeled dataset, which means that each data point in the training set is paired with the correct target or outcome. The goal of supervised learning is to learn a mapping from input data to the corresponding output labels. This mapping is used to make predictions on new, unseen data.

#### Unsupervised Learning:

In unsupervised learning, the algorithm is given an unlabeled dataset, meaning there are no predefined target labels or outcomes. The objective of unsupervised learning is to discover patterns, relationships, or structures within the data without any specific guidance on what to look for.

## Use Cases:

#### Supervised Learning:

Supervised learning is typically used for tasks that involve prediction, classification, or regression. Common applications include image classification, spam email detection, speech recognition, and medical diagnosis, among others.

#### Unsupervised Learning: 

Unsupervised learning is used for tasks like clustering and dimensionality reduction. Clustering involves grouping similar data points together, while dimensionality reduction aims to reduce the complexity of the data while retaining important features. Examples include customer segmentation, anomaly detection, and topic modeling.

## Training Data:

#### Supervised Learning:

Requires a labeled dataset, where each data point has an associated target or label.

#### Unsupervised Learning:

Works with unlabeled data, where the algorithm explores the inherent structure or patterns in the data without predefined labels.

## Output:

#### Supervised Learning:

Produces a model that can make predictions or classify new, unseen data into predefined categories.

#### Unsupervised Learning:

Produces insights about the data's structure, such as clusters or reduced representations of the data, but does not provide explicit predictions or classifications.

## Evaluation:

#### Supervised Learning:

Evaluation of supervised models typically involves metrics like accuracy, precision, recall, F1 score, mean squared error (MSE), etc., depending on the specific task.

#### Unsupervised Learning:

Evaluation can be more challenging and subjective since there are often no ground truth labels. Common evaluation methods include silhouette score for clustering and explained variance for dimensionality reduction.

## Examples:

#### Supervised Learning:

Linear regression, logistic regression, support vector machines, decision trees, and neural networks are common algorithms used in supervised learning.

#### Unsupervised Learning:

K-means clustering, hierarchical clustering and principal component analysis (PCA) are examples of algorithms used in unsupervised learning.

# Q2.Explain the concept of clustering using different methods in unsupervised learning

### Answer:-

Clustering is a fundamental concept in unsupervised machine learning that involves grouping similar data points together based on certain criteria or similarity measures. The goal of clustering is to discover inherent patterns, structures, or natural groupings within a dataset without any predefined labels. There are several methods for clustering in unsupervised learning, each with its own approach and characteristics. Here, I'll explain three common clustering methods:

## 1. K-Means Clustering:

### Concept: 

K-means clustering is a partitioning method that divides a dataset into 'K' clusters, where 'K' is a user-defined parameter.

### Algorithm:

#### step 1
Randomly initialize 'K' cluster centroids.
#### step 2
Assign each data point to the nearest centroid based on a distance metric i.e. Euclidean distance or Manhattan distance.
#### step 3
Recalculate the centroids as the mean of all data points assigned to each cluster.

Repeat steps 2 and 3 until convergence (when centroids no longer change significantly or a maximum number of iterations is reached).

### Characteristics:

1. Works well when the clusters are spherical and have roughly equal sizes.
2. Requires specifying the number of clusters ('K') beforehand.
3. Sensitive to the initial placement of centroids.

## 2. Hierarchical Clustering:

### Concept: 

Hierarchical clustering builds a tree-like structure (dendrogram) of clusters by successively merging or splitting clusters based on similarity.

### Algorithm:

#### step 1
Start with each data point as its own cluster.
#### step 2
Merge the two closest clusters into a new cluster.

Repeat step 2 until all data points are in a single cluster or until a predefined stopping criterion is met.

### Characteristics:

1. Produces a hierarchy of clusters, allowing for different levels of granularity.
2. No need to specify the number of clusters in advance.
3. Agglomerative hierarchical clustering starts with individual data points and merges them, while divisive hierarchical clustering starts with all data points in one cluster and splits them.


## 3. DBSCAN (Density-Based Spatial Clustering of Applications with Noise):

### Concept:

DBSCAN identifies clusters as dense regions of data points separated by sparser regions.

### Algorithm:

#### step 1
Select a random unvisited data point.
#### step 2
If the point has a sufficient number of nearby neighbors within a defined distance (density parameter), it becomes the seed of a new cluster.
#### step 3
Expand the cluster by adding all reachable data points within the defined distance.

Repeat steps 1-3 until no more points can be added to any cluster.

### Characteristics:

1. Automatically discovers the number of clusters and can find clusters of arbitrary shapes.
2. Robust to outliers, as it identifies them as noise points.
3. Sensitive to the choice of distance metric and density parameters.

# Q3.Load the Customer_Churn dataset.

### Answer:-

In [21]:
import pandas as pd

In [22]:
df=pd.read_csv("customer_churn.csv")

In [23]:
df

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [24]:
from sklearn.preprocessing import LabelEncoder

In [25]:
lbl_encoder=LabelEncoder()

In [26]:
col_encode=["MultipleLines","gender",'SeniorCitizen', 'Partner', 'Dependents','PhoneService','PaperlessBilling',
            'Churn','InternetService','OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
            'TechSupport','StreamingTV', 'StreamingMovies', 'Contract','PaymentMethod']

In [27]:
for col in col_encode:
    df[col]=lbl_encoder.fit_transform(df[col])

In [28]:
df

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,0,0,1,0,1,0,1,0,0,...,0,0,0,0,0,1,2,29.85,29.85,0
1,5575-GNVDE,1,0,0,0,34,1,0,0,2,...,2,0,0,0,1,0,3,56.95,1889.5,0
2,3668-QPYBK,1,0,0,0,2,1,0,0,2,...,0,0,0,0,0,1,3,53.85,108.15,1
3,7795-CFOCW,1,0,0,0,45,0,1,0,2,...,2,2,0,0,1,0,0,42.30,1840.75,0
4,9237-HQITU,0,0,0,0,2,1,0,1,0,...,0,0,0,0,0,1,2,70.70,151.65,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,1,0,1,1,24,1,2,0,2,...,2,2,2,2,1,1,3,84.80,1990.5,0
7039,2234-XADUH,0,0,1,1,72,1,2,1,0,...,2,0,2,2,1,1,1,103.20,7362.9,0
7040,4801-JZAZL,0,0,1,1,11,0,1,0,2,...,0,0,0,0,0,1,2,29.60,346.45,0
7041,8361-LTMKD,1,1,1,0,4,1,2,1,0,...,0,0,0,0,0,1,3,74.40,306.6,1
7042,3186-AJIEK,1,0,0,0,66,1,0,1,2,...,2,2,2,2,2,1,0,105.65,6844.5,0

In [29]:
df.drop(columns=["customerID"],inplace=True)

In [30]:
df

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,0,0,1,0,1,0,1,0,0,2,0,0,0,0,0,1,2,29.85,29.85,0
1,1,0,0,0,34,1,0,0,2,0,2,0,0,0,1,0,3,56.95,1889.5,0
2,1,0,0,0,2,1,0,0,2,2,0,0,0,0,0,1,3,53.85,108.15,1
3,1,0,0,0,45,0,1,0,2,0,2,2,0,0,1,0,0,42.30,1840.75,0
4,0,0,0,0,2,1,0,1,0,0,0,0,0,0,0,1,2,70.70,151.65,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,1,0,1,1,24,1,2,0,2,0,2,2,2,2,1,1,3,84.80,1990.5,0
7039,0,0,1,1,72,1,2,1,0,2,2,0,2,2,1,1,1,103.20,7362.9,0
7040,0,0,1,1,11,0,1,0,2,0,0,0,0,0,0,1,2,29.60,346.45,0
7041,1,1,1,0,4,1,2,1,0,0,0,0,0,0,0,1,3,74.40,306.6,1
7042,1,0,0,0,66,1,0,1,2,0,2,2,2,2,2,1,0,105.65,6844.5,0

## a. Build the kmeans algorithm on top of ‘ customer features’. For the model, the number of clusters should be 3

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7043 non-null   int32
 1   SeniorCitizen     7043 non-null   int64
 2   Partner           7043 non-null   int32
 3   Dependents        7043 non-null   int32
 4   tenure            7043 non-null   int64
 5   PhoneService      7043 non-null   int32
 6   MultipleLines     7043 non-null   int32
 7   InternetService   7043 non-null   int32
 8   OnlineSecurity    7043 non-null   int32
 9   OnlineBackup      7043 non-null   int32
 10  DeviceProtection  7043 non-null   int32
 11  TechSupport       7043 non-null   int32
 12  StreamingTV       7043 non-null   int32
 13  StreamingMovies   7043 non-null   int32
 14  Contract          7043 non-null   int32
 15  PaperlessBilling  7043 non-null   int32
 16  PaymentMethod     7043 non-null   int32
 17  MonthlyCharges    7043 non-null   float64
 18  TotalCharges      7043 non-null   object
 19  Churn             7043 non-null   int32
dtypes: float64(1), int32(16), int64(2), object(1)
memory usage: 660.4+ KB

In [32]:
df["TotalCharges"].isnull().sum()

0

In [33]:
df["TotalCharges"].isna().sum()

0

In [34]:
df["TotalCharges"] = pd.to_numeric(df["TotalCharges"], errors='coerce').astype(float)

In [35]:
df["TotalCharges"].isnull().sum()

11

In [36]:
df["TotalCharges"].isna().sum()

11

In [37]:
df["TotalCharges"].fillna(df["TotalCharges"].mean(),inplace=True)

In [38]:
df["TotalCharges"].isnull().sum()

0

In [39]:
df

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,0,0,1,0,1,0,1,0,0,2,0,0,0,0,0,1,2,29.85,29.85,0
1,1,0,0,0,34,1,0,0,2,0,2,0,0,0,1,0,3,56.95,1889.50,0
2,1,0,0,0,2,1,0,0,2,2,0,0,0,0,0,1,3,53.85,108.15,1
3,1,0,0,0,45,0,1,0,2,0,2,2,0,0,1,0,0,42.30,1840.75,0
4,0,0,0,0,2,1,0,1,0,0,0,0,0,0,0,1,2,70.70,151.65,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,1,0,1,1,24,1,2,0,2,0,2,2,2,2,1,1,3,84.80,1990.50,0
7039,0,0,1,1,72,1,2,1,0,2,2,0,2,2,1,1,1,103.20,7362.90,0
7040,0,0,1,1,11,0,1,0,2,0,0,0,0,0,0,1,2,29.60,346.45,0
7041,1,1,1,0,4,1,2,1,0,0,0,0,0,0,0,1,3,74.40,306.60,1
7042,1,0,0,0,66,1,0,1,2,0,2,2,2,2,2,1,0,105.65,6844.50,0

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7043 non-null   int32
 1   SeniorCitizen     7043 non-null   int64
 2   Partner           7043 non-null   int32
 3   Dependents        7043 non-null   int32
 4   tenure            7043 non-null   int64
 5   PhoneService      7043 non-null   int32
 6   MultipleLines     7043 non-null   int32
 7   InternetService   7043 non-null   int32
 8   OnlineSecurity    7043 non-null   int32
 9   OnlineBackup      7043 non-null   int32
 10  DeviceProtection  7043 non-null   int32
 11  TechSupport       7043 non-null   int32
 12  StreamingTV       7043 non-null   int32
 13  StreamingMovies   7043 non-null   int32
 14  Contract          7043 non-null   int32
 15  PaperlessBilling  7043 non-null   int32
 16  PaymentMethod     7043 non-null   int32
 17  MonthlyCharges    7043 non-null   float64
 18  TotalCharges      7043 non-null   float64
 19  Churn             7043 non-null   int32
dtypes: float64(2), int32(16), int64(2)
memory usage: 660.4 KB

In [66]:
X = df.drop(columns=["Churn"])

In [67]:
from sklearn.cluster import KMeans

In [68]:
# Initialize the K-Means model with 3 clusters
kmeans = KMeans(n_clusters=3, random_state=42)

In [69]:
# Fit the K-Means model to our data
kmeans.fit(X)

KMeans(n_clusters=3, random_state=42)

In [70]:
# Get the cluster assignments for each data point
cluster_assignments = kmeans.labels_

In [72]:
# Add the cluster assignments back to our DataFrame
df['Cluster'] = cluster_assignments

In [73]:
# Now, df contains a new column 'Cluster' indicating the cluster assignment for each data point

# You can also access the cluster centers
cluster_centers = kmeans.cluster_centers_

In [74]:
df

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,...,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,Cluster
0,0,0,1,0,1,0,1,0,0,2,...,0,0,0,0,1,2,29.85,29.85,0,0
1,1,0,0,0,34,1,0,0,2,0,...,0,0,0,1,0,3,56.95,1889.50,0,0
2,1,0,0,0,2,1,0,0,2,2,...,0,0,0,0,1,3,53.85,108.15,1,0
3,1,0,0,0,45,0,1,0,2,0,...,2,0,0,1,0,0,42.30,1840.75,0,0
4,0,0,0,0,2,1,0,1,0,0,...,0,0,0,0,1,2,70.70,151.65,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,1,0,1,1,24,1,2,0,2,0,...,2,2,2,1,1,3,84.80,1990.50,0,2
7039,0,0,1,1,72,1,2,1,0,2,...,0,2,2,1,1,1,103.20,7362.90,0,1
7040,0,0,1,1,11,0,1,0,2,0,...,0,0,0,0,1,2,29.60,346.45,0,0
7041,1,1,1,0,4,1,2,1,0,0,...,0,0,0,0,1,3,74.40,306.60,1,0
7042,1,0,0,0,66,1,0,1,2,0,...,2,2,2,2,1,0,105.65,6844.50,0,1

## b. Calculate the clustering vector values for the monthly charges column form the customer_features

In [75]:
clustering_vector = df.groupby('Cluster')['MonthlyCharges'].mean()

In [76]:
clustering_vector

Cluster
0    49.750084
1    97.918135
2    77.446894
Name: MonthlyCharges, dtype: float64

## c. Bind the monthly charges column to the clustering vector and store that data in month_group

In [87]:
df

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,...,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,Cluster
0,0,0,1,0,1,0,1,0,0,2,...,0,0,0,0,1,2,29.85,29.85,0,0
1,1,0,0,0,34,1,0,0,2,0,...,0,0,0,1,0,3,56.95,1889.50,0,0
2,1,0,0,0,2,1,0,0,2,2,...,0,0,0,0,1,3,53.85,108.15,1,0
3,1,0,0,0,45,0,1,0,2,0,...,2,0,0,1,0,0,42.30,1840.75,0,0
4,0,0,0,0,2,1,0,1,0,0,...,0,0,0,0,1,2,70.70,151.65,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,1,0,1,1,24,1,2,0,2,0,...,2,2,2,1,1,3,84.80,1990.50,0,2
7039,0,0,1,1,72,1,2,1,0,2,...,0,2,2,1,1,1,103.20,7362.90,0,1
7040,0,0,1,1,11,0,1,0,2,0,...,0,0,0,0,1,2,29.60,346.45,0,0
7041,1,1,1,0,4,1,2,1,0,0,...,0,0,0,0,1,3,74.40,306.60,1,0
7042,1,0,0,0,66,1,0,1,2,0,...,2,2,2,2,1,0,105.65,6844.50,0,1

In [88]:
# Create a new DataFrame "month_group" by concatenating the "MonthlyCharges" and "Cluster" columns
month_group = pd.concat([df['MonthlyCharges'], clustering_vector], axis=1)

In [90]:
# Rename the columns for clarity 
month_group.columns = ['MonthlyCharges', 'Cluster']

# "month_group" now contains the "MonthlyCharges" column bound to the clustering vector

In [91]:
month_group

      MonthlyCharges    Cluster
0              29.85  49.750084
1              56.95  97.918135
2              53.85  77.446894
3              42.30        NaN
4              70.70        NaN
...              ...        ...
7038           84.80        NaN
7039          103.20        NaN
7040           29.60        NaN
7041           74.40        NaN
7042          105.65        NaN

[7043 rows x 2 columns]

## d. Separate all the 3 clusters with their values

In [95]:
# Separate the clusters into individual DataFrames
cluster_0 = df[df['Cluster'] == 0]
cluster_1 = df[df['Cluster'] == 1]
cluster_2 = df[df['Cluster'] == 2]

In [96]:
cluster_0

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,...,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,Cluster
0,0,0,1,0,1,0,1,0,0,2,...,0,0,0,0,1,2,29.85,29.85,0,0
1,1,0,0,0,34,1,0,0,2,0,...,0,0,0,1,0,3,56.95,1889.50,0,0
2,1,0,0,0,2,1,0,0,2,2,...,0,0,0,0,1,3,53.85,108.15,1,0
3,1,0,0,0,45,0,1,0,2,0,...,2,0,0,1,0,0,42.30,1840.75,0,0
4,0,0,0,0,2,1,0,1,0,0,...,0,0,0,0,1,2,70.70,151.65,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7035,1,0,0,0,19,1,0,1,0,0,...,0,2,0,0,1,0,78.70,1495.10,0,0
7036,0,0,0,0,12,0,1,0,0,2,...,2,2,2,1,0,2,60.65,743.30,0,0
7037,0,0,0,0,72,1,0,2,1,1,...,1,1,1,2,1,0,21.15,1419.40,0,0
7040,0,0,1,1,11,0,1,0,2,0,...,0,0,0,0,1,2,29.60,346.45,0,0
7041,1,1,1,0,4,1,2,1,0,0,...,0,0,0,0,1,3,74.40,306.60,1,0

In [97]:
cluster_1

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,...,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,Cluster
12,1,0,1,0,58,1,2,1,0,0,...,0,2,2,1,0,1,100.35,5681.10,0,1
13,1,0,0,0,49,1,2,1,0,2,...,0,2,2,0,1,0,103.70,5036.30,1,1
15,0,0,1,1,69,1,2,1,2,2,...,2,2,2,2,0,1,113.25,7895.15,0,1
17,1,0,0,1,71,1,2,1,2,0,...,0,2,2,2,0,0,106.70,7382.25,0,1
28,1,0,1,0,72,1,2,0,2,2,...,2,2,2,2,1,1,90.25,6369.45,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7022,1,0,0,0,72,1,2,1,0,2,...,0,2,2,1,1,2,104.95,7544.30,0,1
7023,0,1,1,0,63,1,2,1,0,2,...,0,2,2,0,1,2,103.50,6479.40,0,1
7034,0,0,0,0,67,1,2,1,2,2,...,0,2,0,0,1,1,102.95,6886.25,1,1
7039,0,0,1,1,72,1,2,1,0,2,...,0,2,2,1,1,1,103.20,7362.90,0,1
7042,1,0,0,0,66,1,0,1,2,0,...,2,2,2,2,1,0,105.65,6844.50,0,1

In [98]:
cluster_2

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,...,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,Cluster
8,0,0,1,0,28,1,2,1,0,0,...,2,2,2,0,1,2,104.80,3046.05,1,2
9,1,0,0,1,62,1,0,0,2,2,...,0,0,0,1,0,0,56.15,3487.95,0,2
14,1,0,0,0,25,1,0,1,2,0,...,2,2,2,0,1,2,105.50,2686.05,0,2
23,0,0,1,0,58,1,2,0,0,2,...,2,0,0,2,1,1,59.90,3505.10,0,2
24,1,0,1,1,49,1,0,0,2,2,...,2,0,0,0,0,1,59.60,2970.30,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7024,1,0,1,0,44,1,2,1,2,0,...,0,0,0,0,1,1,84.80,3626.35,0,2
7028,0,0,1,0,68,1,0,0,0,2,...,2,2,0,2,0,0,64.10,4326.25,0,2
7031,1,1,1,0,55,1,2,0,2,2,...,0,0,0,1,0,1,60.00,3316.10,0,2
7033,1,0,0,0,38,1,0,1,0,0,...,0,0,0,0,1,1,69.50,2625.25,0,2
7038,1,0,1,1,24,1,2,0,2,0,...,2,2,2,1,1,3,84.80,1990.50,0,2

## e. Write interference how k mean is different from KNN from above result

K-Means and k-Nearest Neighbors (KNN) are both machine learning algorithms, but they serve different purposes and have distinct characteristics. Let's discuss how K-Means is different from KNN based on the results.

K-Means:

Clustering Algorithm: K-Means is an unsupervised clustering algorithm used for grouping similar data points into clusters. It tries to partition the data into K distinct, non-overlapping clusters, where K is a predefined number of clusters.

Result: In our scenario, K-Means was used to cluster customers based on their features (including "MonthlyCharges"). The result is that customers are grouped into three clusters based on the similarity of their features.

No Labels: K-Means does not use any labels or target values during training. It relies solely on the data's structure and feature similarity to group data points.

KNN (k-Nearest Neighbors):

Classification/Regression Algorithm: KNN is a supervised algorithm used for both classification and regression tasks. Given a new data point, it identifies the k-nearest data points in the training set and makes predictions based on their class labels (for classification) or values (for regression).

Result: KNN doesn't produce distinct clusters like K-Means. Instead, it assigns labels or values to individual data points based on the similarity to their k-nearest neighbors.

Labels Required: KNN requires labeled training data to work. It needs the correct classifications or values for the training data to make predictions for new, unseen data points.

Key Differences:

Supervised vs. Unsupervised: KNN is a supervised algorithm that requires labeled data for training and makes predictions based on similarity to known data points. K-Means is unsupervised and doesn't rely on labels; it groups data based on feature similarity.

Purpose: K-Means is used for clustering and finding structure in data, while KNN is used for making predictions on new data points based on the nearest neighbors in the training set.

Output: K-Means outputs cluster assignments, while KNN outputs predicted class labels or values for individual data points.